{% extends 'base.html' %}


{% block meta %}

{% endblock meta %}

{% block content %}

<style>
    .flex-first {
      font-size: 250%;
    }
  </style>

<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Welcome New User!</span>
    </div>
  </nav>

<h1 class="text-center name"><div class="flex-first">Login To Access Your ToDoList!</div></h1>

<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">

                    <form method="POST" action="" ALIGN='center'>
                        {% csrf_token %}
                        <table>
                            <tr>
                                <div class="forms-inputs mb-4"><input autocomplete="off" name="username" placeholder="Username" type="text" v-model="email" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true">
                                
                            </tr>
                                    
                            <tr>
                                <div class="forms-inputs mb-4"><input autocomplete="off" name="password" placeholder="Password" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                            </tr>

                            <tr>
                                <td></td>
                                <div class="mb-3"> <button v-on:click.stop.prevent="submit" value="Login" class="btn btn-dark w-100">Login</button> </div>
                            </tr>
                        </table>
                    </form>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li> {{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}     
        
                    Belum mempunyai akun?<br/> Click -> <a href="{% url 'todolist:register' %}">Buat Akun</a>
                </div>
            </div>
        </div>
    </div>
</div>
    

</div>



{% endblock content %}