{% extends 'base.html' %}

 {% block content %}

 {% load static %}

  <h1>Tugas 4 Assignment PBP/PBD</h1>

  <span><h5></h5><b>Name: </b>{{nama}} </span>
  <p></p>

  <table>
    <tr>
      <th>Task Title</th>
      <th>Task Date</th>
      <th>Task Description</th>
      <th>Task Status</th>
      <th>Task Check</th>
      <th>Delete Task</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in list_task %}
      <tr>
        <th>{{task.title}}</th>
        <th>{{task.date}}</th>
        <th>{{task.description}}</th>
        <th>{{task.is_finished}}</th>
        <th>
          <input 
            type="checkbox" 
            name="task_status" 
            id="task_status" 
            {% if task.is_finished %} checked {% endif %}   
            onchange="location.href='{% url 'todolist:converting_status' task.id %}'"
          />
        </th>
        <th><button><a href="{% url 'todolist:deleting_task' task.id %}"title="">Delete</a></button></th>
      </tr>
    {% endfor %}
  </table>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  <button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>

  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}