table, tr, th{
    border-style: solid;
}

tbody, tr:nth-child(even){
    background-color: #1eea4a;
}

tbody, tr:nth-child(odd){
    background-color: #61d72a;
}

table{
    background-color: yellow;
}

table, tr:nth-child(1){
    column-width: 400px;
}