{% extends 'base.html' %}

 {% block content %}

 {% load static %}

  <h1>Tugas 3 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>{{ namaku }} </p>

  <h5>Student ID: </h5>
  <p>{{ idku }}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for film in list_film %}
      <tr>
        <th>{{film.watched}}</th>
        <th>{{film.title}}</th>
        <th>{{film.rating}}</th>
        <th>{{film.release_date}}</th>
        <th>{{film.review}}</th>
      </tr>
    {% endfor %}
  </table>

  <span><h5></h5><b>Status: </b>{{message}}</span>

 {% endblock content %}